[submodule "wot-td-parser"]
	path = wot-td-parser
	url = https://github.com/Interactions-HSG/wot-td-parser
[submodule "yggdrasil"]
	path = yggdrasil
	url = https://github.com/Interactions-HSG/yggdrasil.git
[submodule "wot-search"]
	path = wot-search
	url = https://github.com/Interactions-HSG/wot-search
